{
  "extends": "eslint-config-egg",
  "rules": {
    "no-const-assign": "warn",
    "no-this-before-super": "warn",
    "no-undef": "warn",
    "no-unreachable": "warn",
    "no-unused-vars": "off",
    "constructor-super": "warn",
    "valid-typeof": "warn"
  }
}
